*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffa1ff;
}
.iml{
    width: 100%;
    text-align: center;
}
.ert{
    background-color: white;
    width: 100%;
}
.text-sh{
    text-shadow: -1px 3px 0px white;
    font-weight: bold;
    font-size: 216%;
    direction: rtl;
    text-align: center;
}
.text-sm{
    text-shadow: -1px 3px 0px black;
    color: white;
    font-weight: bold;
    font-size: 216%;
    direction: rtl;
    text-align: center;
}
.text-h4{
    text-shadow: -1px 3px 0px white;
    /* text-shadow: -1px 3px 0px black;
    color: white; */
}
.h2-texs{
    text-shadow: 2px 2px black;
    color: white;
    font-weight: bold;
    font-size: 137%;
    text-align: center;
}
.h2-tex{
    text-shadow: 2px 2px white;
    font-weight: bold;
    font-size: 137%;
    text-align: center;
}
.logo{
    width: 200px;
    margin: 10px;
}
.mop{
    width: 100%;
}
.ert2{
    width: 95%;
    background-color: #ffa1ff;
    box-shadow: 0px 0px 11px #00000061;
    border-radius: 5px;
    direction: rtl;
}
.hrt{
    width: 250px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #198754;
}
.dicf{
    width: 100%;
}
.dicf a{
    text-align: center;
    font-size: 28px;
    width: 353px;
    height: 59px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 0px 11px #00000061;
}
.img-as{
    width: 100%;
    border-radius: 50%;
}
iframe{
    width: 90%;
    margin: 5px;
}
.wats{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #61CE70;
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    position: fixed;
    left: 75%;
    top: 80%;
    z-index: 1000;
}
.wats a{
    color: white;
}
.sp-col{
    color: red;
    font-size: 40px;
}
.swiper-wrapper img{
    width: 100%;
    height: 100%;
}
.z-14{
    width: 100%;
    height: 100%;
}
.fa-check{
    color: #61CE70;
    font-size: 30px;
}